:root {
  --pink: #F6CAC1;
  --bloodOrange: #B64609;
  --darkGreen: #243629;
  --lightGreen: #797B72;
  --lightOrange: #D1845A;
}

body {
  font-family: 'Bodoni Moda', serif;
  font-size: 16px;
  line-height: 1;
  padding-bottom: 30px;
  background-color: var(--pink);
}

p {
  font-size: 30px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: white;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: var(--pink);
  color: var(--darkGreen);
  margin: 0;
  padding: 30px 0 30px 0;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 2px solid var(--pink);
}

.hour {
  background-color: var(--bloodOrange);
  color: white;
  padding-top: 30px;
  padding-left: 10px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: var(--lightOrange);
  color: white;
}

.present {
  background-color: var(--bloodOrange);
  color: white;
}

.future {
  background-color: var(--darkGreen);
  color: white;
}

.saveBtn {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--darkGreen);
  color: white;
}

.saveBtn:hover {
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .1s ease-in-out;
  color: white;
}

@media screen and (max-width: 768px), screen and (max-width: 500px) {

  textarea {
    min-height: 85px;
    border: 0;
  }

  .row {
    height: auto;
    margin-top: 20px;
  }

  .hour {
    padding: 15px;
    border-radius: 0;
    background-color: var(--pink);
    color: var(--darkGreen);
  }

  .saveBtn {
    border: 0;
    border-radius: 0.25rem;
    height: 50px;
  }
}
